<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sampleServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>sampleServletProj.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>sampleServletProj.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>sampleServletProj.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/name</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>HellowFilter</filter-name>
    <filter-class>tool.HellowFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HellowFilter</filter-name>
    <url-pattern>/Hellow</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>HellowFilter2</filter-name>
    <filter-class>tool.HellowFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HellowFilter2</filter-name>
    <url-pattern>/Hellow</url-pattern>
  </filter-mapping>


</web-app>